<mat-card>
    <mat-card-title>Prijava</mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Korisnicko ime</mat-label>
            <input id="username-input" matInput [(ngModel)]="username" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Lozinka</mat-label>
            <input
                id="password-input"
                matInput
                type="password"
                [(ngModel)]="password"
            />
        </mat-form-field>
        <a routerLink="/register">Registracija</a>
    </mat-card-content>
    <mat-card-actions align="end">
        <button
            id="login-btn"
            mat-raised-button
            color="accent"
            (click)="onLogin()"
        >
            Prijavi se
        </button>
    </mat-card-actions>
</mat-card>
