<div>
    <H1>Interesovanje za vakcinaciju</H1>
    <app-document-table [documents]="gradjaninDocuments.INTERESOVANJE"></app-document-table>
    <H1>Saglasnosti za preporučenu imunizaciju</H1>
    <app-document-table [documents]="gradjaninDocuments.SAGLASNOST"></app-document-table>
    <H1>Potvrde o vakcinaciji</H1>
    <app-document-table [documents]="gradjaninDocuments.POTVRDA"></app-document-table>
    <H1>Zahtevi za digitalni sertifikat</H1>
    <app-document-table [documents]="gradjaninDocuments.ZAHTEV"></app-document-table>
    <H1>Digitalni sertifikati</H1>
    <app-document-table [documents]="gradjaninDocuments.SERTIFIKAT"></app-document-table>
</div>
