<div>
    <H1>Interesovanje za vakcinaciju</H1>
    <app-document-table [documents]="documents.INTERESOVANJE"></app-document-table>
    <H1>Saglasnosti za preporučenu imunizaciju</H1>
    <app-document-table [documents]="documents.SAGLASNOST"></app-document-table>
    <H1>Potvrde o vakcinaciji</H1>
    <app-document-table [documents]="documents.POTVRDA"></app-document-table>
    <H1>Zahtevi za digitalni sertifikat</H1>
    <app-document-table [documents]="documents.ZAHTEV"></app-document-table>
    <H1>Digitalni sertifikati</H1>
    <app-document-table [documents]="documents.SERTIFIKAT"></app-document-table>
</div>
