<div class="container">
    <mat-card-title>Interesovanje za imunizaciju</mat-card-title>
    <mat-card-content class="content">

        <mat-form-field>
            <mat-label>Puno ime</mat-label>
            <input matInput [(ngModel)]="newInteresovanje.punoIme">
        </mat-form-field>

        <mat-form-field>
            <!-- TODO change to select instead of input -->
            <mat-label>Drzavljanstvo</mat-label>
            <input matInput [(ngModel)]="newInteresovanje.drzavljanstvo">
        </mat-form-field>

        <mat-form-field>
            <mat-label>JMBG</mat-label>
            <input matInput [(ngModel)]="newInteresovanje.jmbg">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fiksni telefon</mat-label>
            <input matInput [(ngModel)]="newInteresovanje.fiksni">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Mobilni telefon</mat-label>
            <input matInput [(ngModel)]="newInteresovanje.mobilni">
        </mat-form-field>

        <mat-form-field>
            <mat-label>E-mail adresa</mat-label>
            <input matInput [(ngModel)]="newInteresovanje.email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Željena opština vakcinacije</mat-label>
            <input matInput [(ngModel)]="newInteresovanje.opstinaVakcinacije">
        </mat-form-field>

        <section class="davalac-krvi-section">
            <mat-checkbox ngDefaultControl labelPosition="before" [(ngModel)]="newInteresovanje.davalacKrvi">Dobrovoljni
                sam davalac krvi</mat-checkbox>
        </section>

        <section class="opcije-section" [formGroup]="opcije">
            <div>
                <mat-checkbox ngDefaultControl labelPosition="before" formControlName="Pfizer-BioNTech"
                    (change)="vaccineChosen()">Pfizer-BioNTech</mat-checkbox>
            </div>
            <div>
                <mat-checkbox ngDefaultControl labelPosition="before" formControlName="Astra Zeneca"
                    (change)="vaccineChosen()">Astra Zeneca</mat-checkbox>
            </div>
            <div>
                <mat-checkbox ngDefaultControl labelPosition="before" formControlName="Moderna"
                    (change)="vaccineChosen()">Moderna</mat-checkbox>
            </div>
            <div>
                <mat-checkbox ngDefaultControl labelPosition="before" formControlName="Sputnik"
                    (change)="vaccineChosen()">Sputnik</mat-checkbox>
            </div>
            <div>
                <mat-checkbox ngDefaultControl labelPosition="before" formControlName="Sinopharm"
                    (change)="vaccineChosen()">Sinopharm</mat-checkbox>
            </div>
            <div>
                <mat-checkbox ngDefaultControl labelPosition="before" formControlName="BILO KOJA" (change)="anyChosen()">
                    BILO KOJA</mat-checkbox>
            </div>
        </section>

    </mat-card-content>
    <div mat-card-actions>
        <button id="save_item_button" mat-button (click)="onSaveClick()" cdkFocusInitial>Sačuvaj</button>
    </div>



</div>