<div>
    <!-- TODO separate into tabs or smth
    <app-create-interesovanje [loggedUser]="loggedUser" *ngIf="loggedUser"></app-create-interesovanje>
    <app-create-zahtev [loggedUser]="loggedUser" *ngIf="loggedUser" ></app-create-zahtev>
    <app-gradjanin-documents [gradjaninDocuments]="documents" *ngIf="documents"></app-gradjanin-documents> -->

    <nav mat-tab-nav-bar>
        <a
            mat-tab-link
            *ngFor="let link of navLinks"
            [routerLink]="link.link"
            routerLinkActive
            #rla="routerLinkActive"
            [active]="rla.isActive"
        >
            >
            {{ link.label }}
        </a>
    </nav>
    <router-outlet></router-outlet>
</div>
