<div>
    <h1>Zahtevi za izdavanje digitalnog zelenog sertifikata</h1>
    <div>
        <table border="1" class="mat-elevation-z8">
            <tr>
                <th>ID zahteva</th>
                <th>Datum podnošenja</th>
                <th>JMBG korisnika</th>
                <th></th>
            </tr>

            <tr>
                <td>12343543543534</td>
                <td>2021-01-01</td>
                <td>1234567891111</td>
                <td>
                    <button mat-flat-button color="primary">Odgovori</button>
                    <button mat-flat-button color="accent">
                        Prikaži dokument
                    </button>
                </td>
            </tr>
            <tr>
                <td>12343543543534</td>
                <td>2021-01-01</td>
                <td>1234567891111</td>
                <td>
                    <button mat-flat-button color="primary">Odgovori</button>
                    <button mat-flat-button color="accent">
                        Prikaži dokument
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
