<div>
    <h1>Zahtevi za izdavanje digitalnog zelenog sertifikata</h1>
    <div>
        <table border="1" class="mat-elevation-z8">
            <tr>
                <th>ID zahteva</th>
                <th>Datum podnošenja</th>
                <th>JMBG korisnika</th>
                <th></th>
            </tr>
            <tr *ngFor="let zahtev of zahtevi">
                <td>{{ zahtev.uuid }}</td>
                <td>{{ zahtev.date }}</td>
                <td>{{ zahtev.jmbg }}</td>
                <td>
                    <button mat-flat-button (click)="display(zahtev.uuid)">
                        Prikaži dokument
                    </button>
                    <button
                        mat-flat-button
                        color="primary"
                        (click)="handleRespond(zahtev)"
                    >
                        Odgovori
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
